html,
body {
    width: 100%;
    height: 100%;
    animation: fadein .5s;
    -moz-animation: fadein .5s;
    -webkit-animation: fadein .5s;
    -o-animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    padding-bottom: 69px;
}

/* card design */

.card {
    border: 1px solid #E1E4E7;
    background-color: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin: 15px auto;
    width: 100%;
}

.card:hover,
.card:active {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-bar {
    width: 100%;
    height: 6px;
    background-color: #ccc;
    display: block;
}

.card-bar__media {
    background-color: #F09D38;
}

.card-bar__delegates {
    background-color: #4C97B8;
}

.card-bar__suppliers {
    background-color: #507948;
}

.card-bar__guests {
    background-color: #335075;
}

.card-content {
    padding: 20px;
}

.card h3 {
    color: #335075;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card a {
    text-decoration: none;
}

.card a.action {
    text-decoration: underline;
}

.card p.date {
    color: #9b9b9b;
    font-size: 1.5rem;
}

.card p.description {
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card p.description.roles {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; /* fallback */
    max-height: 44px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* card role extention */

.card-role {
    padding: 20px;
}

.img-role {
    width: 69px;
    height: 69px;
    border-radius: 69px;
    margin-bottom: 15px;
    background-color: #ccc;
}

.card-role a {
    text-decoration: none;
}

.card-role p {
    color: #9B9B9B;
}

/* registration panel */

.modal-body .form-control,
.registration .form-control,
.wb-frmvld .form-control,
.twitter-typeahead {
    width: 100%
}


p.terms,
a.sign-in {
    font-size: 1.3rem;
}

.panel-register a.btn {
    margin-bottom: 10px;
}

/* progress bar customization */

section.progress-bar-holder {
    padding-top: 16px;
}

.flexer,
.progress-indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.no-flexer,
.progress-indicator.stacked {
    display: block
}

.no-flexer-element {
    -ms-flex: 0;
    -moz-flex: 0;
    -webkit-box-flex: 0;
    flex: 0
}

.flexer-element,
.progress-indicator > li {
    -ms-flex: 1;
    -moz-flex: 1;
    -webkit-box-flex: 1;
    flex: 1
}

.progress-indicator {
    margin: 0 0 1em;
    padding: 0;
    font-size: 80%;
    text-transform: uppercase
}

.progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block
}

.progress-indicator > li:hover {
    /*    color: #6f6f6f*/
}

.progress-indicator > li.completed,
.progress-indicator > li.completed .bubble {
    color: #333;
}

.progress-indicator > li .bubble {
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    background-color: #bbb;
    display: block;
    margin: .5em auto;
}

.progress-indicator > li .bubble:after,
.progress-indicator > li .bubble:before {
    display: block;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 12px;
    content: '';
    background-color: #bbb
}

.progress-indicator > li.completed .bubble,
.progress-indicator > li.completed .bubble:after,
.progress-indicator > li.completed .bubble:before {
    background-color: #305075;
    border-color: #2b4869;
}

.progress-indicator > li .bubble:before {
    left: 0
}

.progress-indicator > li .bubble:after {
    right: 0
}

.progress-indicator > li:first-child .bubble:after,
.progress-indicator > li:first-child .bubble:before {
    width: 50%;
    margin-left: 50%
}

.progress-indicator > li:last-child .bubble:after,
.progress-indicator > li:last-child .bubble:before {
    width: 50%;
    margin-right: 50%
}

.progress-indicator > li.active,
.progress-indicator > li.active .bubble {
    color: #337AB7
}

.progress-indicator > li.active .bubble,
.progress-indicator > li.active .bubble:after,
.progress-indicator > li.active .bubble:before {
    background-color: #337AB7;
    border-color: #122a3f
}

.progress-indicator > li a:hover .bubble,
.progress-indicator > li a:hover .bubble:after,
.progress-indicator > li a:hover .bubble:before {
    background-color: #5671d0;
    border-color: #1f306e
}

.progress-indicator > li a:hover .bubble {
    color: #5671d0
}

.progress-indicator > li.danger .bubble,
.progress-indicator > li.danger .bubble:after,
.progress-indicator > li.danger .bubble:before {
    background-color: #d3140f;
    border-color: #440605
}

.progress-indicator > li.danger .bubble {
    color: #d3140f
}

.progress-indicator > li.warning .bubble,
.progress-indicator > li.warning .bubble:after,
.progress-indicator > li.warning .bubble:before {
    background-color: #edb10a;
    border-color: #5a4304
}

.progress-indicator > li.warning .bubble {
    color: #edb10a
}

.progress-indicator > li.info .bubble,
.progress-indicator > li.info .bubble:after,
.progress-indicator > li.info .bubble:before {
    background-color: #5b32d6;
    border-color: #25135d
}

.progress-indicator > li.info .bubble {
    color: #5b32d6
}

.progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block
}

.progress-indicator.stacked > li .bubble:after,
.progress-indicator.stacked > li .bubble:before {
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    height: 100%
}

.progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60%!important;
    width: 45%!important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em
}

.progress-indicator.stacked > li a {
    border: none
}

.progress-indicator.stacked.nocenter > li .bubble {
    margin-left: 0;
    margin-right: 0
}

.progress-indicator.stacked.nocenter > li .bubble:after,
.progress-indicator.stacked.nocenter > li .bubble:before {
    left: 10px
}

.progress-indicator.stacked.nocenter .stacked-text {
    width: auto!important;
    display: block;
    margin-left: 40px!important
}

@media handheld,
screen and (max-width:400px) {
    .progress-indicator {
        font-size: 60%
    }
}

/* registration datalist customization */

.wb-al-cnt .wb-al {
    border: 1px solid #ccc;
}

.wb-al a {
    border-bottom: 1px dotted #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wb-al li:nth-child(odd) {
    background-color: #f8f8f8;
}

ul.requirements li,
p.requirements {
    font-size: 13px;
    margin-top: 5px;
}

/* fixed action buttons */

.fixed-actions {
    width: 100%;
    min-height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 15px 15px 0;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

/* cropper js css custom */

.preview {
    overflow: hidden;
}

/*
.badge-photo-overlay {
    position: absolute;
    opacity: .69;
    padding: 20px 0 0;
}
*/

.cropper-wrap-box,
.cropper-canvas {
    z-index: 0;
    position: absolute;
}


.cropper-face {
    border: 0 dashed #eee;
    display: block;
    opacity: 1;
    position: absolute;
    background-size: cover;
    background-image: url('../images/head-outline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}




/* navigation */

nav.navigation-bar {
    background-color: #294262;
    color: #fff;
    min-height: 40px;
    padding: 23px 15px 15px;
    position: relative;
    width: 100%;
    z-index: 1;
}

nav.navigation-bar:before {
    content: "";
    height: 8px;
    width: 100%;
    display: block;
    background-color: #335075;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav.navigation-bar .container,
nav.navigation-bar .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation-bar-brand {
    height: 20px;
}

.navigation-bar-item:first-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 0;
}


nav.navigation-bar .navigation-bar-item a {
    color: #fff;
    font-size: 1.4rem;
}

.navigation-bar-item:not(:first-child) a {
    margin-left: 20px;
}

nav.navigation-bar.light {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

nav.navigation-bar.light .navigation-bar-item a {
    color: #222;
}

/* branding in app */

.navigation-bar__branding {
    background-color: #f5f5f5;
}

.branding-nav {
    height: 69px;
    width: auto;
}


@media (max-width:767px) {
    nav.navigation-bar .container,
    nav.navigation-bar .container-fluid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navigation-bar-brand {
        height: 18px;
        position: absolute;
        clip: rect(0px, 40px, 20px, 0px);
    }
    .navigation-bar-item:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .branding-nav {
        height: auto;
        width: 100%;
    }
}

/* type ahead css */

.tt-query,
.tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 11px 2px;
    font-size: 1.6rem;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 6px;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px dotted #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tt-suggestion.tt-selectable:hover {
    color: #fff;
    background-color: #335075;
}

.tt-suggestion:nth-child(even) {
    background-color: #f8f8f8;
}

.tt-suggestion p {
    margin: 0;
}

/*BACKUP navigation */

.main-dropdowns {
    background-color: #222;
}

.main-dropdowns > .container {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: #222;
    color: #fff;
    padding: 12px 15px;
    flex: 1;
    border-left: 1px dotted #666;
    text-align: center;
}

.dropdown:last-child {
    border-right: 1px dotted #666;
}

.dropdown:hover,
.dropdown:active,
.dropdown:selected {
    background-color: #111;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 12px;
    background-color: #f9f9f9;
    color: #222;
    left: 0;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content ul {
    padding-bottom: 0;

}

.dropdown-content li a:hover {
    background-color: #eee;
}

.dropdown-content li a {
    padding: 16px 15px;
    border-bottom: 1px dotted #ccc;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 69;
}

@media (max-width:767px) {
    .main-dropdowns > .container {
        display: flex;
        flex-direction: column;
    }
    .dropdown {
        border-left: 0;
        border-bottom: 1px dotted #666;
    }
    .dropdown:last-child {
        border-right: 0;
    }
}

@media (min-width:992px) {
    .branding__event {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .sticky-progress-bar {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 69;
        background-color: #fff;
        border-bottom: 1px dotted #ccc;
    }
}
