/* card design */
.card {
    border: 1px solid #E1E4E7;
    background-color: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin: 15px auto;
    width: 100%;
}

.card:hover,
.card:active {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card h3 {
    color: #335075;
    margin-top: 0;
}

.card p.date {
    color: #9b9b9b;
    font-size: 1.5rem;
}

.card p.description {
    color: #333333;
}

/* card role extention */

.card-role {
    padding: 20px;
}

.img-role {
    width: 69px;
    height: 69px;
    border-radius: 69px;
    margin-bottom: 15px;
    background-color: #ccc;
}

.card-role a{
    text-decoration: none;
}

.card-role p{
    color:#9B9B9B;
}

/* registration panel */

.panel-register {
    margin-top: 30px;
}

.panel-register .form-control,
.modal-body .form-control {
    width: 100%
}

.panel-register p.terms,
.panel-register a.sign-in {
    font-size: 1.3rem;
}

.panel-register a.btn {
    margin-bottom: 10px;
}

/* progress bar customization */

progress {
    width:100%!important;
}
